<% layout('/layouts/boilerplate') %>


    <script>
        window.cloudName = '<%= cloudName %>';
        window.uploadPreset = '<%= uploadPreset %>';
    </script>

    <script src="/js/tinyMce.js"></script>

    <div class="container mt-5 mb-3">
        <h1 class="text-center">Write a New Blog</h1>
        <form id="blogForm" action="/blogs/new" method="POST" enctype="multipart/form-data" novalidate
            class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="blog[title]"
                    placeholder="Please Write a catchy Title" required>
                <div class="invalid-feedback">Please provide a title.</div>
            </div>
            <div class="mb-3">
                <label for="excerpt" class="form-label">Excerpt</label>
                <textarea class="form-control" id="excerpt" name="blog[excerpt]" rows="2"
                    placeholder="Please write an excerpt.." required></textarea>
                <div class="invalid-feedback" id="excerptFeedback">Excerpt should be at least 10 words.</div>
            </div>
            <div class="mb-3">
                <input type="hidden" id="imageUrls" name="blog[imageUrls]">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" name="blog[content]" rows="10"
                    placeholder="Please write some content.." required></textarea>
                <div class="invalid-feedback">Please provide the content.</div>
            </div>
            <div class="mx-auto">
                <button type="submit" class="btn btn-dark">Post Blog</button>
            </div>
        </form>
    </div>