.our-blogs h2 {
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 2.5em;
}

.content img {
  max-width: 90%;
  height: auto;
}

.b-radius {
  border-radius: 20px;
  width: 250px;
}
