#banner {
  margin: 120px auto;
}

#banner h2 {
  font-family: "Ruslan Display", cursive;
  font-weight: 400;
  font-size: 46px;
}

.row {
  text-align: center;
}

#m-slider img {
  border-radius: 50%;
  height: 200px;
  width: 210px !important;
  margin: 10px auto;
}

#m-slider p {
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 400;
}

#m-slider .quotes-credit {
  text-align: end;
  font-weight: 400;
  font-size: 20px;
}

